%div{:id=>"wrap"}
  %div{:id=>"container"}
    %div{:class=>"page-header-nav"}
      %ol
        %li
          <a href="/logout">logout</a>
        %li
          %strong
            home
        %li
          <a href="/account">account</a>

    %div{:class=>"page-header"}
      %h1{:class=>"home-heading"}
        KETOS APP (<a href="/">refresh</a>)

    %div{:class=>"page"}
      %div{:class=>"home-dashboard"}

        %div{:class=>"row"}
          %div{:class=>"col-lg-12"}
          - if !session['twitter']
            %a{:href=>"/auth/twitter"}
              Add Twitter
       
          - if !session['facebook']
            %br
            %a{:href=>"/auth/facebook"}
              Add Facebook

          - if !session['tumblr']
            %br
            %a{:href=>"/auth/tumblr"}
              Add Tumblr

        %div{:class=>"row"}
          %div{:class=>"col-lg-12"}
            %form{:action => "", :method => "post"}
              %fieldset
                %label{:for => "body"} Update:
                %textarea{:name => "body", :rows => "2", :cols => "70"}

                %input{:type => "submit", :value => "Send", :class => "button"}

        %div{:class=>"row"}
          %div{:class=>"col-lg-12"}
            %div{:id=>"feed"}

        %div{:class=>"row"}
          %div{:class=>"col-lg-12"}

            %ol{:class => "stream-items"}
              - @items.each do |i|
                %li
                  %div{:class => "stream-item"}
                    %div{:class => "stream-item-header"}
                      = i.header_html
                      = i.time_html
                    %p{:class => "stream-text"}
                      = i.text_html
                    - if i.img_url
                      %div{:class => "media-container"}
                        = i.img_html
                    %div{:class => "stream-item-footer"}



  = haml :footer
